.red {
  background-color: #ff2424;
}

.pink {
  background-color: #ffa1a3;
}

.gray {
  background-color: #efeef0;
}

.lightBlue {
  background-color: #96dae4;
}

.blue {
  background-color: #21a3ef;
}
